
*{
    margin: 0;
    padding: 0;
    color: white;
}


#navbar{
    height: 60px;
    background-color: #0f1111;
}

a{
    text-decoration: none;
    margin-right: 200px;
}

button{
    background-color: #f08804;
}

#logo{ 
    color: #f08804;
    font-size: 25px;
}


input{
    color: black;
}


.contentBox{
    height: 100px;
    width: 100px;
    /* background-color: aqua; */
    /* display: inline-block; */
    border: 2px solid black;
    display: inline-block;

}

#content{
    height: 540px;
}

footer{
    color: black;
    text-align: center;
    background-color: #0f1111;
    color: white;
}

span{
    color: red;
}

#box1{
    background-color: rgba(0, 235, 123, 0.25);
}

#box2{
    background-color: rgba(0, 235, 123, 0.5);
}

#box3{
    background-color: rgba(0, 235, 123, 1);
}